# Fichier de configuration pour le projet WordPress
WP_DB_NAME=xxxx
WP_DB_USER=xxxxx
WP_DB_PASSWORD=xxxx
WP_DB_HOST=xxxx

# Configuration du thème et de l'URL du site
THEME_NAME=xxxx
SITE_URL=xxx

# Clés de sécurité (générées via https://api.wordpress.org/secret-key/1.1/salt/)
WP_AUTH_KEY="xxx"
WP_SECURE_AUTH_KEY="xxx"
WP_LOGGED_IN_KEY="xxx"
WP_NONCE_KEY="xxx"
WP_AUTH_SALT="xxx"
WP_SECURE_AUTH_SALT="xxxx"
WP_LOGGED_IN_SALT="xxxx"
WP_NONCE_SALT="xxxx"